html {
	background-color: lightgrey;
	touch-action: manipulation;
}

.container_all {
	margin: auto;
	max-width: 640px;
}

#moves {
	margin-top: 2px;
	margin-bottom: 8px;
	width: 100%;
	height: 50%;
	overflow-y: scroll;
	background-color: white;
}

#moves_table {
	width: 100%;
	border-collapse: collapse;
}

#moves_table th {
	border: 1px solid;
	border-bottom: 2px solid;
	text-align: center;
	border-color: black;
}

.moves_head_white {
	color: black;
	background-color: white;
}

.moves_head_black {
	color: white;
	background-color: black;
}

.moves_cell_num {
	border: 1px solid;
	text-align: center;
	width: 20%;
}

.moves_cell {
	border: 1px solid;
	text-align: center;
	width: 40%;
	background-color: white;
}

.moves_cell_focus {
	border: 1px solid;
	text-align: center;
	width: 40%;
	background-color: #eeeeee;
}

#input {
	width: 100%;
}

.input_group {
	float: left;
	margin-bottom: 8px;
	width: 100%;
}

button {
	text-align: center;
	color: black;
	border: none;
	border-radius: 2px;
	box-shadow: 1px 1px 1px black;
	line-height: 2.5;
	min-width: 10%;
	font-weight: normal;
}

.input_button {
	background-color: #eeeeee;
}

#enter_button {
	background-color: #00EE00;
	min-width: 40%;
}

#enter_button:disabled,
#enter_button[disabled] {
	background-color: #cccccc;
}

#delete_button {
	background-color: #FFaaaa;
}

#delete_button:disabled,
#delete_button[disabled] {
	background-color: #cccccc;
}

#insert_button {
	background-color: #aaaaFF;
}

#insert_button:disabled,
#insert_button[disabled] {
	background-color: #cccccc;
}

#game_button {
	background-color: #8899aa;
}

#game_settings {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: none;
	margin: auto;
	background-color: lightgrey;
}

#game_settings_content {
	margin: auto;
	padding: 12px;
	width: auto;
	height: auto;
	position: relative;
}

#game_settings input,
#game_settings select {
	color: black;
	background-color: white;
	border: solid 1px;
	border-radius: 0;
}

.game_group {
	width: auto;
}

.game_group_label {
	float: left;
	min-width: 30%;
}

.game_group_commands {
	float: center;
}

.ok_button {
	background-color: #00EE00;
	min-width: 40%;
}

.new_button {
	background-color: #FFaaaa;
}
